<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Madlib Questions{% endblock %}</title>
    <link rel="stylesheet" href="static/app.css">
</head>
<body>
    <header>
        <h1>Madlibs</h1>
    </header>
    {% block content %}
    <div class="container">
        <form action="/story" class="main-form">
            {% for prompt in prompts %}
                <p>
                    <input type="text" name="{{prompt}}" placeholder="{{prompt}}">
                </p>
            {% endfor %}
    
            <button>Submit</button>
        </form>
    </div> 
    {% endblock %}
</body>
</html>